body {
    font-family: Arial, sans-serif;
}

.banner {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    border-radius: 20px;
}

.links-container {
    margin: 20px;
    padding: 20px;
}

#pagina-lista li {
    margin: 10px 0;
}

.titulo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}